node_modules/
data/*.db
data/*.db-journal
uploads/*
!uploads/.gitkeep
.env
npm-debug.log*
.DS_Store
index/images/DB.Browser.for.SQLite-v3.13.1-win64/
index/images/DB.Browser.for.SQLite-v3.13.1-win64.zip
